body {
  @apply bg-grey-100;
}

.sb-process-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
}

.sb-process {
  @apply bg-transparent;
  background-image: linear-gradient(
      180deg,
      theme('colors.black'),
      theme('colors.black')
    ),
    linear-gradient(225deg, theme('colors.black'), theme('colors.black')),
    linear-gradient(0deg, theme('colors.black'), theme('colors.black')),
    linear-gradient(90deg, theme('colors.black'), theme('colors.black')),
    linear-gradient(
      -135deg,
      transparent 22px,
      theme('colors.black') 23px,
      theme('colors.black') 24px,
      transparent 25px
    ),
    linear-gradient(-135deg, transparent 23px, theme('colors.white') 24px),
    linear-gradient(180deg, theme('colors.white'), theme('colors.white')),
    linear-gradient(90deg, theme('colors.white'), theme('colors.white'));
  background-position: top left, top left, bottom right, bottom right, top right,
    top right, top left, bottom right;
  background-size: calc(100% - 32px) 2px, 2px 100%, 100% 2px,
    2px calc(100% - 32px), 32px 32px, 32px 32px, calc(100% - 32px) 100%,
    100% calc(100% - 32px);
  background-repeat: no-repeat;
}
